.conteiner{
    background-color: #fc901c;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    color: white;
    margin-top: 40px;
    

    a{
        text-decoration: none;
        color: white;
    }

    a:hover{
        color: #7c3454;
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
}