.conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blueviolet;
}

figure{
    display: flex;
    flex-wrap: wrap;
}